.full-width-table {
  width: 100%;
}

.mat-column-nom {
  max-width: 20%;
}

.mat-column-active {
  max-width: 120px;
}

.mat-column-actions {
  max-width: 50px;
}

mat-cell > span.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
