.mat-dialog-title {
  margin-bottom: 0;
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.active-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}
